In [3]:
import pandas as pd
import os
import glob
import numpy as np
  
  
# use glob to get all the csv files 
# in the folder
path = r'C:\Users\chris\Documents\nss-data-analytics\projects\Nashville-Education-Data\data\ReportCardData'
extension = 'csv'
os.chdir(path)
result = glob.glob('*.{}'.format(extension))
print(result)

['ACT_district.csv', 'ACT_school.csv', 'discipline_by_gender.csv', 'discipline_by_grade.csv', 'discipline_by_group.csv', 'discipline_by_race.csv', 'district_info.csv', 'district_variables.csv', 'dropout_district.csv', 'dropout_school.csv', 'enrollment.csv', 'grad_rate_district.csv', 'grad_rate_school.csv', 'overall_discipline.csv', 'ready_grad_district.csv', 'ready_grad_school.csv', 'ready_grad_state.csv']

In [4]:
for f in result:
      
    # read the csv file
    df = pd.read_csv(f)
      
    # print the location and filename
    print('Location:', f)
    print('File Name:', f.split("\\")[-1])
      
    # print the content
    print('Content:')
    display(df)
    print()

Location: ACT_district.csv
File Name: ACT_district.csv
Content:

,district_number,district_name,subgroup,valid_tests,participation_rate,average_english_score,average_math_score,average_reading_score,average_science_score,average_composite_score,number_scoring_21_or_higher,percent_scoring_21_or_higher,number_scoring_below_19,percent_scoring_below_19
0,985,Achievement School District,All Students,294,83,13.4,15.4,14.8,15,14.8,14,4.8,261,88.8
1,985,Achievement School District,Black/Hispanic/Native American,292,83,13.4,15.4,14.9,15,14.8,14,4.8,259,88.7
2,985,Achievement School District,Economically Disadvantaged,244,83,13.2,15.2,14.6,14.7,14.6,9,3.7,221,90.6
3,985,Achievement School District,English Learners,7,*,*,*,*,*,*,*,*,*,*
4,985,Achievement School District,Students with Disabilities,40,67,11,14.6,13,13.1,13,**,**,**,**
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,950,Wilson County,All Students,1586,99,20.7,19.7,21.5,21.1,20.9,770,48.5,571,36
591,950,Wilson County,Black/Hispanic/Native American,280,99,17,17.3,18.2,18.1,17.8,58,20.7,187,66.8
592,950,Wilson County,Economically Disadvantaged,366,98,17.6,17.6,18.7,18.6,18.2,86,23.5,224,61.2
593,950,Wilson County,English Learners,48,100,14,16.9,15.6,16.6,15.9,5,10.4,38,79.2
594,950,Wilson County,Students with Disabilities,139,98,14.7,16.5,16.8,17.2,16.5,15,10.8,107,77

Location: ACT_school.csv
File Name: ACT_school.csv
Content:

,district_number,district_name,school_number,school_name,subgroup,valid_tests,participation_rate,average_english_score,average_math_score,average_reading_score,average_science_score,average_composite_score,number_scoring_21_or_higher,percent_scoring_21_or_higher,number_scoring_below_19,percent_scoring_below_19
0,10,Anderson County,2,Anderson County High School,All Students,269,100,19.8,19.4,20.7,20.1,20.1,115,42.8,115,42.8
1,10,Anderson County,2,Anderson County High School,Black/Hispanic/Native American,4,*,*,*,*,*,*,*,*,*,*
2,10,Anderson County,2,Anderson County High School,Economically Disadvantaged,72,100,17.5,17.5,19.1,18.5,18.3,18,25,42,58.3
3,10,Anderson County,2,Anderson County High School,Students with Disabilities,32,100,12.5,15.2,14.4,14.8,14.4,**,**,**,**
4,10,Anderson County,25,Clinton High School,All Students,258,100,18.3,18,19.1,19.1,18.8,83,32.2,139,53.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1684,985,Achievement School District,8140,Hillcrest High School,All Students,86,96,14.2,15.7,16,15.4,15.5,5,5.8,75,87.2
1685,985,Achievement School District,8140,Hillcrest High School,Black/Hispanic/Native American,85,96,14.3,15.8,16,15.5,15.5,5,5.9,74,87.1
1686,985,Achievement School District,8140,Hillcrest High School,Economically Disadvantaged,69,96,14,15.7,15.8,15.2,15.3,**,**,**,**
1687,985,Achievement School District,8140,Hillcrest High School,English Learners,5,*,*,*,*,*,*,*,*,*,*
1688,985,Achievement School District,8140,Hillcrest High School,Students with Disabilities,16,100,12,15,13.8,13.3,13.5,**,**,**,**

Location: discipline_by_gender.csv
File Name: discipline_by_gender.csv
Content:

,district_number,district_name,school_number,school_name,school_year,gender,students_in_school_suspension,students_suspended,students_expelled,students_placed_in_alternative_school,students_committed_zero_tolerance,students_total,percent_in_school_suspension,percent_suspended,percent_expelled,percent_placed_in_alternative_school,percent_committed_zero_tolerance
0,0,State of Tennessee,NaN,NaN,2020,Female,14406.0,11275.0,267.0,1520.0,791.0,493844.0,2.9,2.3,0.1,0.3,0.2
1,0,State of Tennessee,NaN,NaN,2020,Male,32124.0,24024.0,666.0,3837.0,2023.0,519548.0,6.2,4.6,0.1,0.7,0.4
2,0,State of Tennessee,NaN,NaN,2020,NaN,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
3,10,Anderson County,2.0,Anderson County High School,2020,Female,8.0,10.0,0.0,0.0,2.0,552.0,1.4,1.8,0.0,0.0,0.4
4,10,Anderson County,2.0,Anderson County High School,2020,Male,26.0,19.0,0.0,0.0,4.0,592.0,4.4,3.2,0.0,0.0,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3902,986,Tennessee State Board of Education,8015.0,KIPP Antioch College Prep Elementary,2020,Male,3.0,5.0,0.0,0.0,0.0,134.0,2.2,3.7,0.0,0.0,0.0
3903,986,Tennessee State Board of Education,8020.0,KIPP Antioch College Prep Middle,2020,Female,0.0,1.0,0.0,0.0,0.0,68.0,0.0,1.5,0.0,0.0,0.0
3904,986,Tennessee State Board of Education,8020.0,KIPP Antioch College Prep Middle,2020,Male,0.0,5.0,0.0,0.0,0.0,69.0,0.0,7.2,0.0,0.0,0.0
3905,986,Tennessee State Board of Education,NaN,NaN,2020,Female,30.0,21.0,0.0,0.0,5.0,442.0,6.8,4.8,0.0,0.0,1.1
3906,986,Tennessee State Board of Education,NaN,NaN,2020,Male,36.0,32.0,3.0,0.0,4.0,451.0,8.0,7.1,0.7,0.0,0.9

Location: discipline_by_grade.csv
File Name: discipline_by_grade.csv
Content:

,district_number,district_name,school_number,school_name,alternative_school,school_year,grade_level,students_iss,students_suspended,students_expelled,students_placed_in_alternative_school,students_committed_zero_tolerance,students_total,percent of in school suspensions,percent suspended,percent_expelled,percent_placed_in_alternative_school,percent_committed_zero_tolerance
0,0,State of Tennessee,NaN,NaN,NaN,2020,01,483.0,750.0,3.0,23.0,27.0,79015.0,0.6,0.9,0.0,0.0,0.0
1,0,State of Tennessee,NaN,NaN,NaN,2020,02,576.0,884.0,9.0,26.0,37.0,77923.0,0.7,1.1,0.0,0.0,0.0
2,0,State of Tennessee,NaN,NaN,NaN,2020,03,867.0,1060.0,7.0,41.0,63.0,77348.0,1.1,1.4,0.0,0.1,0.1
3,0,State of Tennessee,NaN,NaN,NaN,2020,04,1195.0,1569.0,10.0,54.0,44.0,77300.0,1.5,2.0,0.0,0.1,0.1
4,0,State of Tennessee,NaN,NaN,NaN,2020,05,2213.0,2363.0,12.0,86.0,98.0,78073.0,2.8,3.0,0.0,0.1,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11481,986,Tennessee State Board of Education,NaN,NaN,NaN,2020,05,0.0,6.0,0.0,0.0,0.0,137.0,0.0,4.4,0.0,0.0,0.0
11482,986,Tennessee State Board of Education,NaN,NaN,NaN,2020,09,18.0,12.0,0.0,0.0,1.0,148.0,12.2,8.1,0.0,0.0,0.7
11483,986,Tennessee State Board of Education,NaN,NaN,NaN,2020,10,9.0,15.0,1.0,0.0,4.0,160.0,5.6,9.4,0.6,0.0,2.5
11484,986,Tennessee State Board of Education,NaN,NaN,NaN,2020,11,36.0,14.0,2.0,0.0,4.0,149.0,24.2,9.4,1.3,0.0,2.7
11485,986,Tennessee State Board of Education,NaN,NaN,NaN,2020,K,1.0,4.0,0.0,0.0,0.0,146.0,0.7,2.7,0.0,0.0,0.0

Location: discipline_by_group.csv
File Name: discipline_by_group.csv
Content:

,district,district_name,school,school_name,alternative_school,school_year,student_group,students_iss,students_suspended,students_expelled,students_placed_in_alternative_school,students_committed_zero_tolerance,students_total,percent_iss,percent_suspended,percent_expelled,percent_placed_in_alternative_school,percent_committed_zero_tolerance
0,0,State of Tennessee,NaN,NaN,NaN,2020,Black/Hispanic/Native American,21170.0,23355.0,723.0,2618.0,1668.0,369736.0,5.7,6.3,0.2,0.7,0.5
1,0,State of Tennessee,NaN,NaN,NaN,2020,Economically Disadvantaged,22348.0,20875.0,600.0,3095.0,1505.0,340849.0,6.6,6.1,0.2,0.9,0.4
2,0,State of Tennessee,NaN,NaN,NaN,2020,English Language Learner,1878.0,1440.0,44.0,141.0,115.0,54872.0,3.4,2.6,0.1,0.3,0.2
3,0,State of Tennessee,NaN,NaN,NaN,2020,Student with Disabilities,8808.0,7828.0,134.0,1135.0,505.0,135048.0,6.5,5.8,0.1,0.8,0.4
4,10,Anderson County,2.0,Anderson County High School,No,2020,Black/Hispanic/Native American,3.0,1.0,0.0,0.0,0.0,34.0,8.8,2.9,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7479,986,Tennessee State Board of Education,8020.0,KIPP Antioch College Prep Middle,No,2020,Student with Disabilities,0.0,1.0,0.0,0.0,0.0,17.0,0.0,5.9,0.0,0.0,0.0
7480,986,Tennessee State Board of Education,NaN,NaN,NaN,2020,Black/Hispanic/Native American,65.0,52.0,3.0,0.0,9.0,752.0,8.6,6.9,0.4,0.0,1.2
7481,986,Tennessee State Board of Education,NaN,NaN,NaN,2020,Economically Disadvantaged,43.0,35.0,1.0,0.0,5.0,394.0,10.9,8.9,0.3,0.0,1.3
7482,986,Tennessee State Board of Education,NaN,NaN,NaN,2020,English Language Learner,3.0,4.0,1.0,0.0,3.0,119.0,2.5,3.4,0.8,0.0,2.5
7483,986,Tennessee State Board of Education,NaN,NaN,NaN,2020,Student with Disabilities,13.0,12.0,0.0,0.0,2.0,126.0,10.3,9.5,0.0,0.0,1.6

Location: discipline_by_race.csv
File Name: discipline_by_race.csv
Content:

,district_number,district_name,school_number,school_name,school_year,race,students_in_school_suspension,students_suspended,students_expelled,students_placed_in_alternative_school,students_committed_zero_tolerance,students_total,percent_in_school_suspension,percent_suspended,percent_expelled,percent_placed_in_alternative_school,percent_committed_zero_tolerance
0,0,State of Tennessee,NaN,NaN,2020,Asian,345.0,220.0,5.0,20.0,22.0,25369.0,1.4,0.9,0.0,0.1,0.1
1,0,State of Tennessee,NaN,NaN,2020,Black or African American,16324.0,20140.0,625.0,2165.0,1355.0,244232.0,6.7,8.2,0.3,0.9,0.6
2,0,State of Tennessee,NaN,NaN,2020,Hispanic or Latino,4623.0,3104.0,94.0,422.0,293.0,121423.0,3.8,2.6,0.1,0.3,0.2
3,0,State of Tennessee,NaN,NaN,2020,Native American/Alaskan,223.0,111.0,4.0,31.0,20.0,4081.0,5.5,2.7,0.1,0.8,0.5
4,0,State of Tennessee,NaN,NaN,2020,Native Hawaiian/Pacific Islander,88.0,38.0,1.0,2.0,3.0,2297.0,3.8,1.7,0.0,0.1,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9689,986,Tennessee State Board of Education,8020.0,KIPP Antioch College Prep Middle,2020,White,0.0,1.0,0.0,0.0,0.0,29.0,0.0,3.4,0.0,0.0,0.0
9690,986,Tennessee State Board of Education,NaN,NaN,2020,Asian,0.0,0.0,0.0,0.0,0.0,34.0,0.0,0.0,0.0,0.0,0.0
9691,986,Tennessee State Board of Education,NaN,NaN,2020,Black or African American,62.0,47.0,1.0,0.0,5.0,545.0,11.4,8.6,0.2,0.0,0.9
9692,986,Tennessee State Board of Education,NaN,NaN,2020,Hispanic or Latino,3.0,5.0,2.0,0.0,4.0,207.0,1.4,2.4,1.0,0.0,1.9
9693,986,Tennessee State Board of Education,NaN,NaN,2020,White,1.0,1.0,0.0,0.0,0.0,107.0,0.9,0.9,0.0,0.0,0.0

Location: district_info.csv
File Name: district_info.csv
Content:

,district_number,district,street_address_1,street_address_2,city,state,zipcode,phone1,phone2,grades_served,director,countyname,school_count
0,0,State of Tennessee,710 James Robertson Pkwy,NaN,Nashville,TN,37243,NaN,NaN,Grades PK-12,Commissioner Penny Schwinn,State,1878
1,10,Anderson County,101 South Main ST,NaN,Clinton,TN,37716,(865) 463-2800,(865) 457-9157,Grades PK-12,Dr. Tim Parrott,Anderson County,18
2,11,Clinton,212 N Hicks ST,NaN,Clinton,TN,37716,(865) 457-0159,(865) 463-0668,Grades PK-6,Kelly D. Johnson,Anderson County,3
3,12,Oak Ridge,P. O. Box 6588 AVE,NaN,Oak Ridge,TN,37831,(865) 425-9001,(865) 425-9070,Grades PK-12,Dr. Bruce Borchers,Anderson County,8
4,20,Bedford County,500 Madison ST,NaN,Shelbyville,TN,37160,(931) 684-3284,(931) 684-3289,Grades PK-12,Don Embry,Bedford County,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,961,Alvin C York Institute,P O Box 70 ST,NaN,Jamestown,TN,38556,(931) 879-8101,(931) 879-2147,Grades 9-12,Dr Joe Miller,Fentress County,1
144,963,Tennessee School for Blind,115 Stewarts Ferry PIKE,NaN,Nashville,TN,37214,(615) 339-6284,(615) 231-7300,Grades PK-12,Dr. David Martin,Davidson County,1
145,964,Tennessee School for the Deaf,2725 Island Home BLVD,NaN,Knoxville,TN,37920,(865) 579-2500,(865) 579-2484,Grades PK-12,Vicki Kirk,Knox County,3
146,985,Achievement School District,710 James Robertson PKWY,NaN,Nashville,TN,37243,(615) 253-4176,(615) 253-4177,Grades PK-12,Lisa Settle,Shelby County,30
147,986,Tennessee State Board of Education,710 James Robertson PKWY,1st Floor,Nashville,TN,37243,(615) 741-2966,(615) 741-0371,Grades KG-11,Sara Heyburn Morrison,State,3

Location: district_variables.csv
File Name: district_variables.csv
Content:

,Unnamed: 0,District Number,District Name,Overall Composite,Literacy Composite,Numeracy Composite,Literacy and Numeracy Composite,Social Studies Composite,subgroup,valid_tests,...,average_composite_score,number_scoring_21_or_higher,percent_scoring_21_or_higher,number_scoring_below_19,percent_scoring_below_19,Licensed Educators,Instructional Personnel,Classroom Teacher,Principal,Superintendent
0,0,10,Anderson County,5,5.0,5,5,1.0,All Students,527.0,...,19.5,198.0,37.6,254.0,48.2,52521.0,51957.0,48515.0,89789.0,156000.0
1,1,11,Clinton,5,3.0,5,5,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,12,Oak Ridge,5,5.0,5,5,1.0,All Students,272.0,...,23.3,175.0,64.3,65.0,23.9,70097.0,69567.0,66926.0,96667.0,202359.0
3,3,20,Bedford County,2,3.0,1,1,5.0,All Students,557.0,...,18.9,184.0,33.0,306.0,54.9,52017.0,51891.0,49949.0,81366.0,116360.0
4,4,30,Benton County,3,2.0,4,3,5.0,All Students,148.0,...,19.0,42.0,28.4,79.0,53.4,50247.0,49861.0,47737.0,68095.0,97857.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,141,963,Tennessee School for Blind,3,NaN,3,3,NaN,All Students,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,142,964,Tennessee School for the Deaf,1,2.0,2,1,NaN,All Students,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,143,970,Department of Children's Services Ed. Division,1,1.0,1,1,1.0,All Students,38.0,...,15.7,3.0,7.9,31.0,81.6,NaN,NaN,NaN,NaN,NaN
144,144,985,Achievement School District,1,2.0,2,2,1.0,All Students,294.0,...,14.8,14.0,4.8,261.0,88.8,NaN,NaN,NaN,NaN,NaN
145,145,986,Tennessee State Board of Education,5,5.0,5,5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Location: dropout_district.csv
File Name: dropout_district.csv
Content:

,district_number,district_name,school_number,school_name,subgroup,grad_cohort,dropout_count,dropout_rate
0,0,State of Tennessee,0,All Schools,All Students,72481,4738.0,6.5
1,0,State of Tennessee,0,All Schools,American Indian or Alaska Native,269,18.0,6.7
2,0,State of Tennessee,0,All Schools,Asian,1652,40.0,2.4
3,0,State of Tennessee,0,All Schools,Black or African American,17552,1816.0,10.3
4,0,State of Tennessee,0,All Schools,Black/Hispanic/Native American,24523,2624.0,10.7
...,...,...,...,...,...,...,...,...
2060,985,Achievement School District,0,All Schools,Non-Economically Disadvantaged,141,59.0,41.8
2061,985,Achievement School District,0,All Schools,Non-English Learners,664,204.0,30.7
2062,985,Achievement School District,0,All Schools,Non-Students with Disabilities,577,182.0,31.5
2063,985,Achievement School District,0,All Schools,Students with Disabilities,110,30.0,27.3
2064,985,Achievement School District,0,All Schools,White,18,13.0,72.2

Location: dropout_school.csv
File Name: dropout_school.csv
Content:

,district_number,district_name,school_number,school_name,subgroup,grad_cohort,dropout_count,dropout_rate
0,10,Anderson County,2,Anderson County High School,All Students,280,4.0,1.4
1,10,Anderson County,2,Anderson County High School,Asian,4,NaN,NaN
2,10,Anderson County,2,Anderson County High School,Black or African American,2,NaN,NaN
3,10,Anderson County,2,Anderson County High School,Black/Hispanic/Native American,4,NaN,NaN
4,10,Anderson County,2,Anderson County High School,Economically Disadvantaged,80,3.0,3.8
...,...,...,...,...,...,...,...,...
5963,985,Achievement School District,8140,Hillcrest High School,Non-Economically Disadvantaged,38,14.0,36.8
5964,985,Achievement School District,8140,Hillcrest High School,Non-English Learners,141,45.0,31.9
5965,985,Achievement School District,8140,Hillcrest High School,Non-Students with Disabilities,115,37.0,32.2
5966,985,Achievement School District,8140,Hillcrest High School,Students with Disabilities,34,9.0,26.5
5967,985,Achievement School District,8140,Hillcrest High School,White,2,NaN,NaN

Location: enrollment.csv
File Name: enrollment.csv
Content:

,district_number,district_name,school_number,school_name,year,grades_served,subgroup,value_previous,value
0,0,State of Tennessee,0,NaN,2020,Grades PK-12,all_students,973659.0,1014502.0
1,0,State of Tennessee,0,NaN,2020,Grades PK-12,bhn,35.2,36.4
2,0,State of Tennessee,0,NaN,2020,Grades PK-12,ed,34.9,30.8
3,0,State of Tennessee,0,NaN,2020,Grades PK-12,ell,4.6,5.0
4,0,State of Tennessee,0,NaN,2020,Grades PK-12,ell_transonly,2.3,7.5
...,...,...,...,...,...,...,...,...,...
36463,986,Tennessee State Board of Education,8020,KIPP Antioch College Prep Middle,2020,Grades 5 - 5,race_h,NaN,30.3
36464,986,Tennessee State Board of Education,8020,KIPP Antioch College Prep Middle,2020,Grades 5 - 5,race_i,NaN,0.0
36465,986,Tennessee State Board of Education,8020,KIPP Antioch College Prep Middle,2020,Grades 5 - 5,race_pi,NaN,0.0
36466,986,Tennessee State Board of Education,8020,KIPP Antioch College Prep Middle,2020,Grades 5 - 5,race_w,NaN,22.0
36467,986,Tennessee State Board of Education,8020,KIPP Antioch College Prep Middle,2020,Grades 5 - 5,swd,NaN,12.1

Location: grad_rate_district.csv
File Name: grad_rate_district.csv
Content:

,year,district_number,district_name,subgroup,graduation cohort,graduation count,graduation rate
0,2019,0,State of Tennessee,All Students,72481,65043,89.7
1,2019,0,State of Tennessee,American Indian or Alaska Native,269,239,88.8
2,2019,0,State of Tennessee,Asian,1652,1571,95.1
3,2019,0,State of Tennessee,Black or African American,17552,14658,83.5
4,2019,0,State of Tennessee,Black/Hispanic/Native American,24523,20531,83.7
...,...,...,...,...,...,...,...
2448,2019,985,Achievement School District,Non-Homeless,645,335,51.9
2449,2019,985,Achievement School District,Non-Migrant,687,355,51.7
2450,2019,985,Achievement School District,Non-Students with Disabilities,577,295,51.1
2451,2019,985,Achievement School District,Students with Disabilities,110,60,54.5
2452,2019,985,Achievement School District,White,18,3,16.7

Location: grad_rate_school.csv
File Name: grad_rate_school.csv
Content:

,year,district_number,district_name,school_number,school_name,subgroup,graduation cohort,graduation count,graduation rate
0,2019,10,Anderson County,2,Anderson County High School,All Students,280,269,96.1
1,2019,10,Anderson County,2,Anderson County High School,Asian,4,*,*
2,2019,10,Anderson County,2,Anderson County High School,Black or African American,2,*,*
3,2019,10,Anderson County,2,Anderson County High School,Black/Hispanic/Native American,4,*,*
4,2019,10,Anderson County,2,Anderson County High School,Economically Disadvantaged,80,72,90
...,...,...,...,...,...,...,...,...,...
7131,2019,985,Achievement School District,8140,Hillcrest High School,Non-Homeless,138,86,62.3
7132,2019,985,Achievement School District,8140,Hillcrest High School,Non-Migrant,149,90,60.4
7133,2019,985,Achievement School District,8140,Hillcrest High School,Non-Students with Disabilities,115,74,64.3
7134,2019,985,Achievement School District,8140,Hillcrest High School,Students with Disabilities,34,16,47.1
7135,2019,985,Achievement School District,8140,Hillcrest High School,White,2,*,*

Location: overall_discipline.csv
File Name: overall_discipline.csv
Content:

,district_number,district_name,school_year,school_name,school_year.1,students_in_school_suspension,students_suspended,students_expelled,students_placed_in_alternative_school,students_committed_zero_tolerance,students_total,percent_iss,percent_suspended,percent_expelled,percent_placed_in_alternative_school,percent_committed_zero_tolerance
0,0,State of Tennessee,2020,NaN,2020,46530.0,35299.0,933.0,5357.0,2814.0,1013395.0,4.6,3.5,0.1,0.5,0.3
1,10,Anderson County,2020,Anderson County High School,2020,34.0,29.0,0.0,0.0,6.0,1144.0,3.0,2.5,0.0,0.0,0.5
2,10,Anderson County,2020,Andersonville Elementary,2020,0.0,0.0,0.0,0.0,0.0,328.0,0.0,0.0,0.0,0.0,0.0
3,10,Anderson County,2020,Briceville Elementary,2020,3.0,2.0,0.0,0.0,0.0,117.0,2.6,1.7,0.0,0.0,0.0
4,10,Anderson County,2020,Claxton Elementary,2020,10.0,7.0,0.0,0.0,0.0,465.0,2.2,1.5,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1950,985,Achievement School District,2020,NaN,2020,478.0,1185.0,3.0,26.0,110.0,12243.0,3.9,9.7,0.0,0.2,0.9
1951,986,Tennessee State Board of Education,2020,Bluff City High School,2020,63.0,41.0,3.0,0.0,9.0,457.0,13.8,9.0,0.7,0.0,2.0
1952,986,Tennessee State Board of Education,2020,KIPP Antioch College Prep Elementary,2020,3.0,6.0,0.0,0.0,0.0,299.0,1.0,2.0,0.0,0.0,0.0
1953,986,Tennessee State Board of Education,2020,KIPP Antioch College Prep Middle,2020,0.0,6.0,0.0,0.0,0.0,137.0,0.0,4.4,0.0,0.0,0.0
1954,986,Tennessee State Board of Education,2020,NaN,2020,66.0,53.0,3.0,0.0,9.0,893.0,7.4,5.9,0.3,0.0,1.0

Location: ready_grad_district.csv
File Name: ready_grad_district.csv
Content:

,district_number,district_name,subgroup,Number of students,number of ready graduates,percent of ready graduates
0,10,Anderson County,All Students,552,237,42.9
1,10,Anderson County,American Indian or Alaska Native,2,*,*
2,10,Anderson County,Asian,8,*,*
3,10,Anderson County,Black or African American,10,1,10
4,10,Anderson County,Black/Hispanic/Native American,19,5,26.3
...,...,...,...,...,...,...
1706,985,Achievement School District,Non-English Learners,664,15,2.3
1707,985,Achievement School District,Non-Students with Disabilities,577,15,2.6
1708,985,Achievement School District,Students with Disabilities,110,**,**
1709,985,Achievement School District,Super Subgroup,680,15,2.2
1710,985,Achievement School District,White,18,**,**

Location: ready_grad_school.csv
File Name: ready_grad_school.csv
Content:

,district_number,district_name,school_number,school_name,subgroup,number of students total,number of ready graduate students,percentage of ready graduates
0,10,Anderson County,2,Anderson County High School,All Students,280,140,50
1,10,Anderson County,2,Anderson County High School,Asian,4,*,*
2,10,Anderson County,2,Anderson County High School,Black or African American,2,*,*
3,10,Anderson County,2,Anderson County High School,Black/Hispanic/Native American,4,*,*
4,10,Anderson County,2,Anderson County High School,Economically Disadvantaged,80,27,33.8
...,...,...,...,...,...,...,...,...
4885,985,Achievement School District,8140,Hillcrest High School,Non-English Learners,141,**,**
4886,985,Achievement School District,8140,Hillcrest High School,Non-Students with Disabilities,115,6,5.2
4887,985,Achievement School District,8140,Hillcrest High School,Students with Disabilities,34,**,**
4888,985,Achievement School District,8140,Hillcrest High School,Super Subgroup,148,**,**
4889,985,Achievement School District,8140,Hillcrest High School,White,2,*,*

Location: ready_grad_state.csv
File Name: ready_grad_state.csv
Content:

,subgroup,Number of students,Number of Ready Graduates,Percent of Ready Graduates
0,All Students,72481,29520,40.7
1,American Indian or Alaska Native,269,113,42.0
2,Asian,1652,1094,66.2
3,Black or African American,17552,3599,20.5
4,Black/Hispanic/Native American,24523,5436,22.2
5,Economically Disadvantaged,28997,6188,21.3
6,English Learners with Transitional 1-4,2686,172,6.4
7,Hispanic,6702,1724,25.7
8,Native Hawaiian or Other Pacific Islander,129,63,48.8
9,Non-Economically Disadvantaged,43484,23332,53.7
10,Non-English Learners,69795,29348,42.0
11,Non-Students with Disabilities,62724,28759,45.9
12,Students with Disabilities,9757,761,7.8
13,Super Subgroup,42461,10029,23.6
14,White,46177,22927,49.7

In [5]:
dataframes =[]

for f in result:
      
    # read the csv file
    df = pd.read_csv(f)
    dataframes.append(df)
    
print(dataframes)

[     district_number                district_name  \
0                985  Achievement School District
1                985  Achievement School District
2                985  Achievement School District
3                985  Achievement School District
4                985  Achievement School District
..               ...                          ...
590              950                Wilson County
591              950                Wilson County
592              950                Wilson County
593              950                Wilson County
594              950                Wilson County

                           subgroup  valid_tests participation_rate  \
0                      All Students          294                 83
1    Black/Hispanic/Native American          292                 83
2        Economically Disadvantaged          244                 83
3                  English Learners            7                  *
4        Students with Disabilities           40                 67
..                              ...          ...                ...
590                    All Students         1586                 99
591  Black/Hispanic/Native American          280                 99
592      Economically Disadvantaged          366                 98
593                English Learners           48                100
594      Students with Disabilities          139                 98

    average_english_score average_math_score average_reading_score  \
0                    13.4               15.4                  14.8
1                    13.4               15.4                  14.9
2                    13.2               15.2                  14.6
3                       *                  *                     *
4                      11               14.6                    13
..                    ...                ...                   ...
590                  20.7               19.7                  21.5
591                    17               17.3                  18.2
592                  17.6               17.6                  18.7
593                    14               16.9                  15.6
594                  14.7               16.5                  16.8

    average_science_score average_composite_score number_scoring_21_or_higher  \
0                      15                    14.8                          14
1                      15                    14.8                          14
2                    14.7                    14.6                           9
3                       *                       *                           *
4                    13.1                      13                          **
..                    ...                     ...                         ...
590                  21.1                    20.9                         770
591                  18.1                    17.8                          58
592                  18.6                    18.2                          86
593                  16.6                    15.9                           5
594                  17.2                    16.5                          15

    percent_scoring_21_or_higher number_scoring_below_19  \
0                            4.8                     261
1                            4.8                     259
2                            3.7                     221
3                              *                       *
4                             **                      **
..                           ...                     ...
590                         48.5                     571
591                         20.7                     187
592                         23.5                     224
593                         10.4                      38
594                         10.8                     107

    percent_scoring_below_19
0                       88.8
1                       88.7
2                       90.6
3                          *
4                         **
..                       ...
590                       36
591                     66.8
592                     61.2
593                     79.2
594                       77

[595 rows x 14 columns],       district_number                district_name  school_number  \
0                  10              Anderson County              2
1                  10              Anderson County              2
2                  10              Anderson County              2
3                  10              Anderson County              2
4                  10              Anderson County             25
...               ...                          ...            ...
1684              985  Achievement School District           8140
1685              985  Achievement School District           8140
1686              985  Achievement School District           8140
1687              985  Achievement School District           8140
1688              985  Achievement School District           8140

                      school_name                        subgroup  \
0     Anderson County High School                    All Students
1     Anderson County High School  Black/Hispanic/Native American
2     Anderson County High School      Economically Disadvantaged
3     Anderson County High School      Students with Disabilities
4             Clinton High School                    All Students
...                           ...                             ...
1684        Hillcrest High School                    All Students
1685        Hillcrest High School  Black/Hispanic/Native American
1686        Hillcrest High School      Economically Disadvantaged
1687        Hillcrest High School                English Learners
1688        Hillcrest High School      Students with Disabilities

      valid_tests participation_rate average_english_score average_math_score  \
0             269                100                  19.8               19.4
1               4                  *                     *                  *
2              72                100                  17.5               17.5
3              32                100                  12.5               15.2
4             258                100                  18.3                 18
...           ...                ...                   ...                ...
1684           86                 96                  14.2               15.7
1685           85                 96                  14.3               15.8
1686           69                 96                    14               15.7
1687            5                  *                     *                  *
1688           16                100                    12                 15

     average_reading_score average_science_score average_composite_score  \
0                     20.7                  20.1                    20.1
1                        *                     *                       *
2                     19.1                  18.5                    18.3
3                     14.4                  14.8                    14.4
4                     19.1                  19.1                    18.8
...                    ...                   ...                     ...
1684                    16                  15.4                    15.5
1685                    16                  15.5                    15.5
1686                  15.8                  15.2                    15.3
1687                     *                     *                       *
1688                  13.8                  13.3                    13.5

     number_scoring_21_or_higher percent_scoring_21_or_higher  \
0                            115                         42.8
1                              *                            *
2                             18                           25
3                             **                           **
4                             83                         32.2
...                          ...                          ...
1684                           5                          5.8
1685                           5                          5.9
1686                          **                           **
1687                           *                            *
1688                          **                           **

     number_scoring_below_19 percent_scoring_below_19
0                        115                     42.8
1                          *                        *
2                         42                     58.3
3                         **                       **
4                        139                     53.9
...                      ...                      ...
1684                      75                     87.2
1685                      74                     87.1
1686                      **                       **
1687                       *                        *
1688                      **                       **

[1689 rows x 16 columns],       district_number                       district_name  school_number  \
0                   0                  State of Tennessee            NaN
1                   0                  State of Tennessee            NaN
2                   0                  State of Tennessee            NaN
3                  10                     Anderson County            2.0
4                  10                     Anderson County            2.0
...               ...                                 ...            ...
3902              986  Tennessee State Board of Education         8015.0
3903              986  Tennessee State Board of Education         8020.0
3904              986  Tennessee State Board of Education         8020.0
3905              986  Tennessee State Board of Education            NaN
3906              986  Tennessee State Board of Education            NaN

                               school_name  school_year  gender  \
0                                      NaN         2020  Female
1                                      NaN         2020    Male
2                                      NaN         2020     NaN
3              Anderson County High School         2020  Female
4              Anderson County High School         2020    Male
...                                    ...          ...     ...
3902  KIPP Antioch College Prep Elementary         2020    Male
3903      KIPP Antioch College Prep Middle         2020  Female
3904      KIPP Antioch College Prep Middle         2020    Male
3905                                   NaN         2020  Female
3906                                   NaN         2020    Male

      students_in_school_suspension  students_suspended  students_expelled  \
0                           14406.0             11275.0              267.0
1                           32124.0             24024.0              666.0
2                               0.0                 0.0                0.0
3                               8.0                10.0                0.0
4                              26.0                19.0                0.0
...                             ...                 ...                ...
3902                            3.0                 5.0                0.0
3903                            0.0                 1.0                0.0
3904                            0.0                 5.0                0.0
3905                           30.0                21.0                0.0
3906                           36.0                32.0                3.0

      students_placed_in_alternative_school  \
0                                    1520.0
1                                    3837.0
2                                       0.0
3                                       0.0
4                                       0.0
...                                     ...
3902                                    0.0
3903                                    0.0
3904                                    0.0
3905                                    0.0
3906                                    0.0

      students_committed_zero_tolerance  students_total  \
0                                 791.0        493844.0
1                                2023.0        519548.0
2                                   0.0             3.0
3                                   2.0           552.0
4                                   4.0           592.0
...                                 ...             ...
3902                                0.0           134.0
3903                                0.0            68.0
3904                                0.0            69.0
3905                                5.0           442.0
3906                                4.0           451.0

      percent_in_school_suspension  percent_suspended  percent_expelled  \
0                              2.9                2.3               0.1
1                              6.2                4.6               0.1
2                              0.0                0.0               0.0
3                              1.4                1.8               0.0
4                              4.4                3.2               0.0
...                            ...                ...               ...
3902                           2.2                3.7               0.0
3903                           0.0                1.5               0.0
3904                           0.0                7.2               0.0
3905                           6.8                4.8               0.0
3906                           8.0                7.1               0.7

      percent_placed_in_alternative_school  percent_committed_zero_tolerance
0                                      0.3                               0.2
1                                      0.7                               0.4
2                                      0.0                               0.0
3                                      0.0                               0.4
4                                      0.0                               0.7
...                                    ...                               ...
3902                                   0.0                               0.0
3903                                   0.0                               0.0
3904                                   0.0                               0.0
3905                                   0.0                               1.1
3906                                   0.0                               0.9

[3907 rows x 17 columns],        district_number                       district_name  school_number  \
0                    0                  State of Tennessee            NaN
1                    0                  State of Tennessee            NaN
2                    0                  State of Tennessee            NaN
3                    0                  State of Tennessee            NaN
4                    0                  State of Tennessee            NaN
...                ...                                 ...            ...
11481              986  Tennessee State Board of Education            NaN
11482              986  Tennessee State Board of Education            NaN
11483              986  Tennessee State Board of Education            NaN
11484              986  Tennessee State Board of Education            NaN
11485              986  Tennessee State Board of Education            NaN

      school_name alternative_school  school_year grade_level  students_iss  \
0             NaN                NaN         2020          01         483.0
1             NaN                NaN         2020          02         576.0
2             NaN                NaN         2020          03         867.0
3             NaN                NaN         2020          04        1195.0
4             NaN                NaN         2020          05        2213.0
...           ...                ...          ...         ...           ...
11481         NaN                NaN         2020          05           0.0
11482         NaN                NaN         2020          09          18.0
11483         NaN                NaN         2020          10           9.0
11484         NaN                NaN         2020          11          36.0
11485         NaN                NaN         2020           K           1.0

       students_suspended  students_expelled  \
0                   750.0                3.0
1                   884.0                9.0
2                  1060.0                7.0
3                  1569.0               10.0
4                  2363.0               12.0
...                   ...                ...
11481                 6.0                0.0
11482                12.0                0.0
11483                15.0                1.0
11484                14.0                2.0
11485                 4.0                0.0

       students_placed_in_alternative_school  \
0                                       23.0
1                                       26.0
2                                       41.0
3                                       54.0
4                                       86.0
...                                      ...
11481                                    0.0
11482                                    0.0
11483                                    0.0
11484                                    0.0
11485                                    0.0

       students_committed_zero_tolerance  students_total  \
0                                   27.0         79015.0
1                                   37.0         77923.0
2                                   63.0         77348.0
3                                   44.0         77300.0
4                                   98.0         78073.0
...                                  ...             ...
11481                                0.0           137.0
11482                                1.0           148.0
11483                                4.0           160.0
11484                                4.0           149.0
11485                                0.0           146.0

       percent of in school suspensions  percent suspended  percent_expelled  \
0                                   0.6                0.9               0.0
1                                   0.7                1.1               0.0
2                                   1.1                1.4               0.0
3                                   1.5                2.0               0.0
4                                   2.8                3.0               0.0
...                                 ...                ...               ...
11481                               0.0                4.4               0.0
11482                              12.2                8.1               0.0
11483                               5.6                9.4               0.6
11484                              24.2                9.4               1.3
11485                               0.7                2.7               0.0

       percent_placed_in_alternative_school  percent_committed_zero_tolerance
0                                       0.0                               0.0
1                                       0.0                               0.0
2                                       0.1                               0.1
3                                       0.1                               0.1
4                                       0.1                               0.1
...                                     ...                               ...
11481                                   0.0                               0.0
11482                                   0.0                               0.7
11483                                   0.0                               2.5

In [6]:
dataframes[0]

,district_number,district_name,subgroup,valid_tests,participation_rate,average_english_score,average_math_score,average_reading_score,average_science_score,average_composite_score,number_scoring_21_or_higher,percent_scoring_21_or_higher,number_scoring_below_19,percent_scoring_below_19
0,985,Achievement School District,All Students,294,83,13.4,15.4,14.8,15,14.8,14,4.8,261,88.8
1,985,Achievement School District,Black/Hispanic/Native American,292,83,13.4,15.4,14.9,15,14.8,14,4.8,259,88.7
2,985,Achievement School District,Economically Disadvantaged,244,83,13.2,15.2,14.6,14.7,14.6,9,3.7,221,90.6
3,985,Achievement School District,English Learners,7,*,*,*,*,*,*,*,*,*,*
4,985,Achievement School District,Students with Disabilities,40,67,11,14.6,13,13.1,13,**,**,**,**
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,950,Wilson County,All Students,1586,99,20.7,19.7,21.5,21.1,20.9,770,48.5,571,36
591,950,Wilson County,Black/Hispanic/Native American,280,99,17,17.3,18.2,18.1,17.8,58,20.7,187,66.8
592,950,Wilson County,Economically Disadvantaged,366,98,17.6,17.6,18.7,18.6,18.2,86,23.5,224,61.2
593,950,Wilson County,English Learners,48,100,14,16.9,15.6,16.6,15.9,5,10.4,38,79.2
594,950,Wilson County,Students with Disabilities,139,98,14.7,16.5,16.8,17.2,16.5,15,10.8,107,77

In [7]:
act_district = dataframes[0].replace('*', np.nan)
act_district

,district_number,district_name,subgroup,valid_tests,participation_rate,average_english_score,average_math_score,average_reading_score,average_science_score,average_composite_score,number_scoring_21_or_higher,percent_scoring_21_or_higher,number_scoring_below_19,percent_scoring_below_19
0,985,Achievement School District,All Students,294,83,13.4,15.4,14.8,15,14.8,14,4.8,261,88.8
1,985,Achievement School District,Black/Hispanic/Native American,292,83,13.4,15.4,14.9,15,14.8,14,4.8,259,88.7
2,985,Achievement School District,Economically Disadvantaged,244,83,13.2,15.2,14.6,14.7,14.6,9,3.7,221,90.6
3,985,Achievement School District,English Learners,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,985,Achievement School District,Students with Disabilities,40,67,11,14.6,13,13.1,13,**,**,**,**
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,950,Wilson County,All Students,1586,99,20.7,19.7,21.5,21.1,20.9,770,48.5,571,36
591,950,Wilson County,Black/Hispanic/Native American,280,99,17,17.3,18.2,18.1,17.8,58,20.7,187,66.8
592,950,Wilson County,Economically Disadvantaged,366,98,17.6,17.6,18.7,18.6,18.2,86,23.5,224,61.2
593,950,Wilson County,English Learners,48,100,14,16.9,15.6,16.6,15.9,5,10.4,38,79.2
594,950,Wilson County,Students with Disabilities,139,98,14.7,16.5,16.8,17.2,16.5,15,10.8,107,77

In [8]:
cols = act_district.columns.drop({'district_name', 'subgroup'})

act_district[cols] = act_district[cols].apply(pd.to_numeric, errors='coerce')

In [9]:
act_district.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   district_number               595 non-null    int64
 1   district_name                 595 non-null    object
 2   subgroup                      595 non-null    object
 3   valid_tests                   595 non-null    int64
 4   participation_rate            482 non-null    float64
 5   average_english_score         481 non-null    float64
 6   average_math_score            481 non-null    float64
 7   average_reading_score         481 non-null    float64
 8   average_science_score         481 non-null    float64
 9   average_composite_score       481 non-null    float64
 10  number_scoring_21_or_higher   434 non-null    float64
 11  percent_scoring_21_or_higher  433 non-null    float64
 12  number_scoring_below_19       434 non-null    float64
 13  percent_scoring_below_19      433 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 65.2+ KB

In [35]:
collist = ['District', 'Year', 'Licensed Educators', 'Instructional Personnel', 'Classroom Teacher', 'Principal', 'Superintendent']

salaries_2020 = pd.read_csv(r'C:\Users\chris\Documents\nss-data-analytics\projects\Nashville-Education-Data\data\avg_salaries_2020.csv', nrows=142, usecols=collist)

In [36]:
collist = ['District', 'Year', 'Licensed Educators', 'Instructional Personnel', 'Classroom Teacher', 'Principal', 'Superintendent']

salaries_2019 = pd.read_csv(r'C:\Users\chris\Documents\nss-data-analytics\projects\Nashville-Education-Data\data\avg_salaries_2019.csv', nrows=142, usecols=collist)

In [37]:
collist = ['District', 'Year', 'Licensed Educators', 'Instructional Personnel', 'Classroom Teacher', 'Principal', 'Superintendent']

salaries_2018 = pd.read_csv(r'C:\Users\chris\Documents\nss-data-analytics\projects\Nashville-Education-Data\data\avg_salaries_2018.csv', nrows=142, usecols=collist)

In [38]:
s = salaries_2020.append(salaries_2019, ignore_index=True)
salaries_all = s.append(salaries_2018, ignore_index=True)

In [39]:
cols = salaries_all.columns.drop({'District'})

salaries_all[cols] = salaries_all[cols].apply(pd.to_numeric, errors='coerce')

In [40]:
salaries_all['District'] = salaries_all['District'].astype(str)

In [41]:
salaries_all

,District,Year,Licensed Educators,Instructional Personnel,Classroom Teacher,Principal,Superintendent
0,Alamo,2020,48397,47344,45865,79265,100000
1,Alcoa,2020,68433,67883,65064,99617,121717
2,Anderson County,2020,52521,51957,48515,89789,156000
3,Arlington,2020,67164,66100,63196,112610,183710
4,Athens,2020,59150,58365,54635,100481,128810
...,...,...,...,...,...,...,...
421,Weakley County,2018,47904,47664,45543,77384,129665
422,West Carroll Sp Dist,2018,48983,48406,46800,71187,96000
423,White County,2018,51394,51178,49717,67793,90360
424,Williamson County,2018,54419,54234,51539,113488,265200
425,Wilson County,2018,50848,50531,47845,90214,175000