In [1]:
import lux
import pandas as pd
import os
import glob
import numpy as np
  
  
# use glob to get all the csv files 
# in the folder
path = r'C:\Users\chris\Documents\nss-data-analytics\projects\Nashville-Education-Data\data\ReportCardData'
extension = 'csv'
os.chdir(path)
result = glob.glob('*.{}'.format(extension))
print(result)

['ACT_district.csv', 'ACT_school.csv', 'discipline_by_gender.csv', 'discipline_by_grade.csv', 'discipline_by_group.csv', 'discipline_by_race.csv', 'district_info.csv', 'district_variables.csv', 'dropout_district.csv', 'dropout_school.csv', 'enrollment.csv', 'grad_rate_district.csv', 'grad_rate_school.csv', 'overall_discipline.csv', 'ready_grad_district.csv', 'ready_grad_school.csv', 'ready_grad_state.csv']

In [2]:
lux.config.default_display = "lux"

### Reading in CSVs

In [3]:
# loop over the list of csv files
for f in result:
      
    # read the csv file
    df = pd.read_csv(f)
      
    # print the location and filename
    print('Location:', f)
    print('File Name:', f.split("\\")[-1])
      
    # print the content
    print('Content:')
    display(df)
    print()

Location: ACT_district.csv
File Name: ACT_district.csv
Content:

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: ACT_school.csv
File Name: ACT_school.csv
Content:

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: discipline_by_gender.csv
File Name: discipline_by_gender.csv
Content:

C:\Users\chris\anaconda3\envs\geospatial\lib\site-packages\lux\executor\PandasExecutor.py:422: UserWarning:
Lux detects that the attribute 'school_year' may be temporal.
To display visualizations for these attributes accurately, please convert temporal attributes to Datetime objects.
For example, you can convert a Year attribute (e.g., 1998, 1971, 1982) using pd.to_datetime by specifying the `format` as '%Y'.

Here is a starter template that you can use for converting the temporal fields:
	df['school_year'] = pd.to_datetime(df['school_year'], format='<replace-with-datetime-format>')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
If school_year is not a temporal attribute, please use override Lux's automatically detected type:
	df.set_data_type({'school_year':'quantitative'})

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: discipline_by_grade.csv
File Name: discipline_by_grade.csv
Content:

C:\Users\chris\anaconda3\envs\geospatial\lib\site-packages\lux\executor\PandasExecutor.py:422: UserWarning:
Lux detects that the attribute 'school_year' may be temporal.
To display visualizations for these attributes accurately, please convert temporal attributes to Datetime objects.
For example, you can convert a Year attribute (e.g., 1998, 1971, 1982) using pd.to_datetime by specifying the `format` as '%Y'.

Here is a starter template that you can use for converting the temporal fields:
	df['school_year'] = pd.to_datetime(df['school_year'], format='<replace-with-datetime-format>')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
If school_year is not a temporal attribute, please use override Lux's automatically detected type:
	df.set_data_type({'school_year':'quantitative'})

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: discipline_by_group.csv
File Name: discipline_by_group.csv
Content:

C:\Users\chris\anaconda3\envs\geospatial\lib\site-packages\lux\executor\PandasExecutor.py:422: UserWarning:
Lux detects that the attribute 'school_year' may be temporal.
To display visualizations for these attributes accurately, please convert temporal attributes to Datetime objects.
For example, you can convert a Year attribute (e.g., 1998, 1971, 1982) using pd.to_datetime by specifying the `format` as '%Y'.

Here is a starter template that you can use for converting the temporal fields:
	df['school_year'] = pd.to_datetime(df['school_year'], format='<replace-with-datetime-format>')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
If school_year is not a temporal attribute, please use override Lux's automatically detected type:
	df.set_data_type({'school_year':'quantitative'})
C:\Users\chris\anaconda3\envs\geospatial\lib\site-packages\lux\interestingness\interestingness.py:196: RuntimeWarning:invalid value encountered in double_scalars

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: discipline_by_race.csv
File Name: discipline_by_race.csv
Content:

C:\Users\chris\anaconda3\envs\geospatial\lib\site-packages\lux\executor\PandasExecutor.py:422: UserWarning:
Lux detects that the attribute 'school_year' may be temporal.
To display visualizations for these attributes accurately, please convert temporal attributes to Datetime objects.
For example, you can convert a Year attribute (e.g., 1998, 1971, 1982) using pd.to_datetime by specifying the `format` as '%Y'.

Here is a starter template that you can use for converting the temporal fields:
	df['school_year'] = pd.to_datetime(df['school_year'], format='<replace-with-datetime-format>')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
If school_year is not a temporal attribute, please use override Lux's automatically detected type:
	df.set_data_type({'school_year':'quantitative'})
C:\Users\chris\anaconda3\envs\geospatial\lib\site-packages\lux\interestingness\interestingness.py:196: RuntimeWarning:invalid value encountered in double_scalars

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: district_info.csv
File Name: district_info.csv
Content:

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: district_variables.csv
File Name: district_variables.csv
Content:

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: dropout_district.csv
File Name: dropout_district.csv
Content:

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: dropout_school.csv
File Name: dropout_school.csv
Content:

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: enrollment.csv
File Name: enrollment.csv
Content:

C:\Users\chris\anaconda3\envs\geospatial\lib\site-packages\lux\executor\PandasExecutor.py:422: UserWarning:
Lux detects that the attribute 'year' may be temporal.
To display visualizations for these attributes accurately, please convert temporal attributes to Datetime objects.
For example, you can convert a Year attribute (e.g., 1998, 1971, 1982) using pd.to_datetime by specifying the `format` as '%Y'.

Here is a starter template that you can use for converting the temporal fields:
	df['year'] = pd.to_datetime(df['year'], format='<replace-with-datetime-format>')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
If year is not a temporal attribute, please use override Lux's automatically detected type:
	df.set_data_type({'year':'quantitative'})

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: grad_rate_district.csv
File Name: grad_rate_district.csv
Content:

C:\Users\chris\anaconda3\envs\geospatial\lib\site-packages\lux\executor\PandasExecutor.py:422: UserWarning:
Lux detects that the attribute 'year' may be temporal.
To display visualizations for these attributes accurately, please convert temporal attributes to Datetime objects.
For example, you can convert a Year attribute (e.g., 1998, 1971, 1982) using pd.to_datetime by specifying the `format` as '%Y'.

Here is a starter template that you can use for converting the temporal fields:
	df['year'] = pd.to_datetime(df['year'], format='<replace-with-datetime-format>')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
If year is not a temporal attribute, please use override Lux's automatically detected type:
	df.set_data_type({'year':'quantitative'})

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: grad_rate_school.csv
File Name: grad_rate_school.csv
Content:

C:\Users\chris\anaconda3\envs\geospatial\lib\site-packages\lux\executor\PandasExecutor.py:422: UserWarning:
Lux detects that the attribute 'year' may be temporal.
To display visualizations for these attributes accurately, please convert temporal attributes to Datetime objects.
For example, you can convert a Year attribute (e.g., 1998, 1971, 1982) using pd.to_datetime by specifying the `format` as '%Y'.

Here is a starter template that you can use for converting the temporal fields:
	df['year'] = pd.to_datetime(df['year'], format='<replace-with-datetime-format>')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
If year is not a temporal attribute, please use override Lux's automatically detected type:
	df.set_data_type({'year':'quantitative'})

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: overall_discipline.csv
File Name: overall_discipline.csv
Content:

C:\Users\chris\anaconda3\envs\geospatial\lib\site-packages\lux\executor\PandasExecutor.py:422: UserWarning:
Lux detects that attributes ['school_year', 'school_year.1'] may be temporal.
To display visualizations for these attributes accurately, please convert temporal attributes to Datetime objects.
For example, you can convert a Year attribute (e.g., 1998, 1971, 1982) using pd.to_datetime by specifying the `format` as '%Y'.

Here is a starter template that you can use for converting the temporal fields:
	df['school_year'] = pd.to_datetime(df['school_year'], format='<replace-with-datetime-format>')
	df['school_year.1'] = pd.to_datetime(df['school_year.1'], format='<replace-with-datetime-format>')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
If school_year.1 is not a temporal attribute, please use override Lux's automatically detected type:
	df.set_data_type({'school_year.1':'quantitative'})

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: ready_grad_district.csv
File Name: ready_grad_district.csv
Content:

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: ready_grad_school.csv
File Name: ready_grad_school.csv
Content:

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

Location: ready_grad_state.csv
File Name: ready_grad_state.csv
Content:

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [4]:
dataframes =[]

for f in result:
      
    # read the csv file
    df = pd.read_csv(f)
    dataframes.append(df)
    
print(dataframes)

[     district_number                district_name  \
0                985  Achievement School District
1                985  Achievement School District
2                985  Achievement School District
3                985  Achievement School District
4                985  Achievement School District
..               ...                          ...
590              950                Wilson County
591              950                Wilson County
592              950                Wilson County
593              950                Wilson County
594              950                Wilson County

                           subgroup  valid_tests participation_rate  \
0                      All Students          294                 83
1    Black/Hispanic/Native American          292                 83
2        Economically Disadvantaged          244                 83
3                  English Learners            7                  *
4        Students with Disabilities           40                 67
..                              ...          ...                ...
590                    All Students         1586                 99
591  Black/Hispanic/Native American          280                 99
592      Economically Disadvantaged          366                 98
593                English Learners           48                100
594      Students with Disabilities          139                 98

    average_english_score average_math_score average_reading_score  \
0                    13.4               15.4                  14.8
1                    13.4               15.4                  14.9
2                    13.2               15.2                  14.6
3                       *                  *                     *
4                      11               14.6                    13
..                    ...                ...                   ...
590                  20.7               19.7                  21.5
591                    17               17.3                  18.2
592                  17.6               17.6                  18.7
593                    14               16.9                  15.6
594                  14.7               16.5                  16.8

    average_science_score average_composite_score number_scoring_21_or_higher  \
0                      15                    14.8                          14
1                      15                    14.8                          14
2                    14.7                    14.6                           9
3                       *                       *                           *
4                    13.1                      13                          **
..                    ...                     ...                         ...
590                  21.1                    20.9                         770
591                  18.1                    17.8                          58
592                  18.6                    18.2                          86
593                  16.6                    15.9                           5
594                  17.2                    16.5                          15

    percent_scoring_21_or_higher number_scoring_below_19  \
0                            4.8                     261
1                            4.8                     259
2                            3.7                     221
3                              *                       *
4                             **                      **
..                           ...                     ...
590                         48.5                     571
591                         20.7                     187
592                         23.5                     224
593                         10.4                      38
594                         10.8                     107

    percent_scoring_below_19
0                       88.8
1                       88.7
2                       90.6
3                          *
4                         **
..                       ...
590                       36
591                     66.8
592                     61.2
593                     79.2
594                       77

[595 rows x 14 columns],       district_number                district_name  school_number  \
0                  10              Anderson County              2
1                  10              Anderson County              2
2                  10              Anderson County              2
3                  10              Anderson County              2
4                  10              Anderson County             25
...               ...                          ...            ...
1684              985  Achievement School District           8140
1685              985  Achievement School District           8140
1686              985  Achievement School District           8140
1687              985  Achievement School District           8140
1688              985  Achievement School District           8140

                      school_name                        subgroup  \
0     Anderson County High School                    All Students
1     Anderson County High School  Black/Hispanic/Native American
2     Anderson County High School      Economically Disadvantaged
3     Anderson County High School      Students with Disabilities
4             Clinton High School                    All Students
...                           ...                             ...
1684        Hillcrest High School                    All Students
1685        Hillcrest High School  Black/Hispanic/Native American
1686        Hillcrest High School      Economically Disadvantaged
1687        Hillcrest High School                English Learners
1688        Hillcrest High School      Students with Disabilities

      valid_tests participation_rate average_english_score average_math_score  \
0             269                100                  19.8               19.4
1               4                  *                     *                  *
2              72                100                  17.5               17.5
3              32                100                  12.5               15.2
4             258                100                  18.3                 18
...           ...                ...                   ...                ...
1684           86                 96                  14.2               15.7
1685           85                 96                  14.3               15.8
1686           69                 96                    14               15.7
1687            5                  *                     *                  *
1688           16                100                    12                 15

     average_reading_score average_science_score average_composite_score  \
0                     20.7                  20.1                    20.1
1                        *                     *                       *
2                     19.1                  18.5                    18.3
3                     14.4                  14.8                    14.4
4                     19.1                  19.1                    18.8
...                    ...                   ...                     ...
1684                    16                  15.4                    15.5
1685                    16                  15.5                    15.5
1686                  15.8                  15.2                    15.3
1687                     *                     *                       *
1688                  13.8                  13.3                    13.5

     number_scoring_21_or_higher percent_scoring_21_or_higher  \
0                            115                         42.8
1                              *                            *
2                             18                           25
3                             **                           **
4                             83                         32.2
...                          ...                          ...
1684                           5                          5.8
1685                           5                          5.9
1686                          **                           **
1687                           *                            *
1688                          **                           **

     number_scoring_below_19 percent_scoring_below_19
0                        115                     42.8
1                          *                        *
2                         42                     58.3
3                         **                       **
4                        139                     53.9
...                      ...                      ...
1684                      75                     87.2
1685                      74                     87.1
1686                      **                       **
1687                       *                        *
1688                      **                       **

[1689 rows x 16 columns],       district_number                       district_name  school_number  \
0                   0                  State of Tennessee            NaN
1                   0                  State of Tennessee            NaN
2                   0                  State of Tennessee            NaN
3                  10                     Anderson County            2.0
4                  10                     Anderson County            2.0
...               ...                                 ...            ...
3902              986  Tennessee State Board of Education         8015.0
3903              986  Tennessee State Board of Education         8020.0
3904              986  Tennessee State Board of Education         8020.0
3905              986  Tennessee State Board of Education            NaN
3906              986  Tennessee State Board of Education            NaN

                               school_name  school_year  gender  \
0                                      NaN         2020  Female
1                                      NaN         2020    Male
2                                      NaN         2020     NaN
3              Anderson County High School         2020  Female
4              Anderson County High School         2020    Male
...                                    ...          ...     ...
3902  KIPP Antioch College Prep Elementary         2020    Male
3903      KIPP Antioch College Prep Middle         2020  Female
3904      KIPP Antioch College Prep Middle         2020    Male
3905                                   NaN         2020  Female
3906                                   NaN         2020    Male

      students_in_school_suspension  students_suspended  students_expelled  \
0                           14406.0             11275.0              267.0
1                           32124.0             24024.0              666.0
2                               0.0                 0.0                0.0
3                               8.0                10.0                0.0
4                              26.0                19.0                0.0
...                             ...                 ...                ...
3902                            3.0                 5.0                0.0
3903                            0.0                 1.0                0.0
3904                            0.0                 5.0                0.0
3905                           30.0                21.0                0.0
3906                           36.0                32.0                3.0

      students_placed_in_alternative_school  \
0                                    1520.0
1                                    3837.0
2                                       0.0
3                                       0.0
4                                       0.0
...                                     ...
3902                                    0.0
3903                                    0.0
3904                                    0.0
3905                                    0.0
3906                                    0.0

      students_committed_zero_tolerance  students_total  \
0                                 791.0        493844.0
1                                2023.0        519548.0
2                                   0.0             3.0
3                                   2.0           552.0
4                                   4.0           592.0
...                                 ...             ...
3902                                0.0           134.0
3903                                0.0            68.0
3904                                0.0            69.0
3905                                5.0           442.0
3906                                4.0           451.0

      percent_in_school_suspension  percent_suspended  percent_expelled  \
0                              2.9                2.3               0.1
1                              6.2                4.6               0.1
2                              0.0                0.0               0.0
3                              1.4                1.8               0.0
4                              4.4                3.2               0.0
...                            ...                ...               ...
3902                           2.2                3.7               0.0
3903                           0.0                1.5               0.0
3904                           0.0                7.2               0.0
3905                           6.8                4.8               0.0
3906                           8.0                7.1               0.7

      percent_placed_in_alternative_school  percent_committed_zero_tolerance
0                                      0.3                               0.2
1                                      0.7                               0.4
2                                      0.0                               0.0
3                                      0.0                               0.4
4                                      0.0                               0.7
...                                    ...                               ...
3902                                   0.0                               0.0
3903                                   0.0                               0.0
3904                                   0.0                               0.0
3905                                   0.0                               1.1
3906                                   0.0                               0.9

[3907 rows x 17 columns],        district_number                       district_name  school_number  \
0                    0                  State of Tennessee            NaN
1                    0                  State of Tennessee            NaN
2                    0                  State of Tennessee            NaN
3                    0                  State of Tennessee            NaN
4                    0                  State of Tennessee            NaN
...                ...                                 ...            ...
11481              986  Tennessee State Board of Education            NaN
11482              986  Tennessee State Board of Education            NaN
11483              986  Tennessee State Board of Education            NaN
11484              986  Tennessee State Board of Education            NaN
11485              986  Tennessee State Board of Education            NaN

      school_name alternative_school  school_year grade_level  students_iss  \
0             NaN                NaN         2020          01         483.0
1             NaN                NaN         2020          02         576.0
2             NaN                NaN         2020          03         867.0
3             NaN                NaN         2020          04        1195.0
4             NaN                NaN         2020          05        2213.0
...           ...                ...          ...         ...           ...
11481         NaN                NaN         2020          05           0.0
11482         NaN                NaN         2020          09          18.0
11483         NaN                NaN         2020          10           9.0
11484         NaN                NaN         2020          11          36.0
11485         NaN                NaN         2020           K           1.0

       students_suspended  students_expelled  \
0                   750.0                3.0
1                   884.0                9.0
2                  1060.0                7.0
3                  1569.0               10.0
4                  2363.0               12.0
...                   ...                ...
11481                 6.0                0.0
11482                12.0                0.0
11483                15.0                1.0
11484                14.0                2.0
11485                 4.0                0.0

       students_placed_in_alternative_school  \
0                                       23.0
1                                       26.0
2                                       41.0
3                                       54.0
4                                       86.0
...                                      ...
11481                                    0.0
11482                                    0.0
11483                                    0.0
11484                                    0.0
11485                                    0.0

       students_committed_zero_tolerance  students_total  \
0                                   27.0         79015.0
1                                   37.0         77923.0
2                                   63.0         77348.0
3                                   44.0         77300.0
4                                   98.0         78073.0
...                                  ...             ...
11481                                0.0           137.0
11482                                1.0           148.0
11483                                4.0           160.0
11484                                4.0           149.0
11485                                0.0           146.0

       percent of in school suspensions  percent suspended  percent_expelled  \
0                                   0.6                0.9               0.0
1                                   0.7                1.1               0.0
2                                   1.1                1.4               0.0
3                                   1.5                2.0               0.0
4                                   2.8                3.0               0.0
...                                 ...                ...               ...
11481                               0.0                4.4               0.0
11482                              12.2                8.1               0.0
11483                               5.6                9.4               0.6
11484                              24.2                9.4               1.3
11485                               0.7                2.7               0.0

       percent_placed_in_alternative_school  percent_committed_zero_tolerance
0                                       0.0                               0.0
1                                       0.0                               0.0
2                                       0.1                               0.1
3                                       0.1                               0.1
4                                       0.1                               0.1
...                                     ...                               ...
11481                                   0.0                               0.0
11482                                   0.0                               0.7
11483                                   0.0                               2.5

In [5]:
dataframes[0]

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [6]:
act_district = dataframes[0].replace('*', np.nan)
act_district

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [7]:
cols = act_district.columns.drop({'district_name', 'subgroup'})

act_district[cols] = act_district[cols].apply(pd.to_numeric, errors='coerce')

In [8]:
act_district

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [9]:
act_district.info()

<class 'lux.core.frame.LuxDataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   district_number               595 non-null    int64
 1   district_name                 595 non-null    object
 2   subgroup                      595 non-null    object
 3   valid_tests                   595 non-null    int64
 4   participation_rate            482 non-null    float64
 5   average_english_score         481 non-null    float64
 6   average_math_score            481 non-null    float64
 7   average_reading_score         481 non-null    float64
 8   average_science_score         481 non-null    float64
 9   average_composite_score       481 non-null    float64
 10  number_scoring_21_or_higher   434 non-null    float64
 11  percent_scoring_21_or_higher  433 non-null    float64
 12  number_scoring_below_19       434 non-null    float64
 13  percent_scoring_below_19      433 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 65.2+ KB

In [10]:
act_district.describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [11]:
collist = ['District', 'Licensed Educators', 'Instructional Personnel', 'Classroom Teacher', 'Principal', 'Superintendent']

salaries = pd.read_csv(r'C:\Users\chris\Documents\nss-data-analytics\projects\Nashville-Education-Data\data\avg_salaries.csv', nrows=142, usecols=collist)

In [12]:
salaries

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [13]:
cols = salaries.columns.drop({'District'})

salaries[cols] = salaries[cols].apply(pd.to_numeric, errors='coerce')

In [14]:
salaries['District'] = salaries['District'].astype(str)

In [15]:
salaries

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [16]:
act_district_gen = act_district.loc[act_district['subgroup']== 'All Students']

In [17]:
act_district_gen.reset_index()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [18]:
act_dist_sal = act_district_gen.merge(salaries, left_on='district_name', right_on='District', how='left')

In [19]:
act_dist_sal = act_dist_sal.drop(columns={'District'})

In [20]:
act_dist_sal

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [ ]:
act_dist_sal.info()

In [ ]:
col1 = act_dist_sal['average_composite_score'] 
col2 = act_dist_sal['Classroom Teacher']

correl = col1.corr(col2)

print(correl)

In [21]:
act_dist_sal.intent = ['average_composite_score', 'Classroom Teacher']
act_dist_sal

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

### Now to add variables

In [ ]:
tvaas_dist = pd.read_csv(r'C:\Users\chris\Documents\nss-data-analytics\projects\Nashville-Education-Data\data\tvaas_district_composite.csv')

In [ ]:
tvaas_dist

In [ ]:
multi_var_dist = tvaas_dist.merge(act_dist_sal, left_on='District Number', right_on='district_number', how='left')

In [ ]:
multi_var_dist = multi_var_dist.drop(columns={'district_number', 'district_name'})
multi_var_dist

In [ ]:
tv = multi_var_dist['Overall Composite']
at = multi_var_dist['average_composite_score']

correl2 = tv.corr(at)

print(correl2)

In [ ]:
multi_var_dist.to_csv(r'C:\Users\chris\Documents\nss-data-analytics\projects\Nashville-Education-Data\data\district_variables.csv')